<h1 class="mt-4">Clientes</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Cadastro</li>
    </ol>

    <div class="container">
      <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-row">
          <div class="col-md-6">
            <div class="alert alert-success" role="alert" *ngIf="success == true">
              Cliente salva/atualizado com sucesso
            </div>
            <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
              {{ erro }}
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="imputId">ID:</label>
            <input type="text" class="form-control" id="inputId" placeholder="ID"  disabled="true" [value]="cliente.id" name="id"/>
          </div>
          <div class="form-group col-md-6">
            <label for="inputDataCriação">Data Criação:</label>
            <input type="date" class="form-control" id="inputDataCriação" placeholder="Data criação" disabled="true" value="{{cliente.dataCadastro}}" name="dataCadastro"/>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputNome">Nome:</label>
            <input type="text" class="form-control" id="inputNome" [(ngModel)]="cliente.nome" name="nome"/>
          </div>

          <div class="form-group col-md-6">
            <label for="inputCPF">CPF:</label>
            <input type="text" class="form-control" id="inputCPF" [(ngModel)]="cliente.cpf" name="cpf"/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-02">
            <button type="submit" class="btn btn-success">
              <i class="fa fa-save"></i> Salvar
            </button>

          </div>
        </div>
      </form>
    </div>
